* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 32px;
}

body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  border-radius: 20px url(/assets/rodoviaria.jpg);
  color: #FFFFFF;
} 

img.rodoviaria {
  border-radius: 20px;
  position: absolute;  
  top: 95px;      /* aumenta esse valor para descer a imagem */
  left: 60px;
}

img.estacao {
  border-radius: 20px;
  position: absolute;  
  top: 830px;      /* aumenta esse valor para descer a imagem */
  left: 60px;
  width: 690px;
}

img.igreja {
  border-radius: 20px;
  position: absolute;  
  top: 1570px;      /* aumenta esse valor para descer a imagem */
  left: 60px;
  width: 690px;
}

img.cruzeiro {
  border-radius: 20px;
  position: absolute;  
  top: 2200px;      /* aumenta esse valor para descer a imagem */
  left: 60px;
  width: 690px;
}

img.fullstack {
  /* position: absolute;  
  left: -362px; 
  top: 300px;
  height: 300px; */

  position: fixed;
  left: 66px;
  top: 400px;
  height: 300px;
  z-index: 100;
  width: 180px;

}

img.logo {
  /* position: absolute;  
  left: -372px; 
  top: -110px;
  height: 300px; */

  position: fixed;
  left: 60px;
  top: -1px;
  height: 300px;
  z-index: 100;
  width: 220px;
}

#page {

  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 50px auto;
  padding-bottom: 2930px; /* aumenta ou diminui margem inferior */
  position: absolute;
  left: 430px;    
  top: 50px;    
  /* border: 16px solid #2f2f2fee; */
  box-shadow: 0 0 50px #ffffff;
  /* z-index: 3; */
  isolation: isolate;
  border: 16px solid rgba(218, 217, 217, 0.5);  
  background-clip: padding-box;
}

#page::before {
  content: '';
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -16px;
  border: 16px solid rgba(47, 47, 47, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(3px);  
  z-index: -1;
  pointer-events: none;
}

#page2 {

  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 50px auto;
  padding-bottom: 2930px;
  position: absolute;
  left: 500px;    
  top: -1420px;    
  /* border: 16px solid #2f2f2fee; */
  box-shadow: 0 0 30px #ffffff;
  z-index: -1;
  isolation: isolate;
  opacity: 0.5;
  background-clip: padding-box;
  box-shadow: 0 0 50px #ffffff;
  border: 16px solid rgba(218, 217, 217, 0.5);  
}

#page2::before {
  content: '';
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -16px;
  border: 16px solid rgba(47, 47, 47, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(3px);  
  z-index: -1;
  pointer-events: none;
}

main {
  position: absolute; 
  top: 280px;
  left: 80px; 
}

h1 {
  
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 4px;
}

#card-fixo {
  position: fixed;
  left: 75px;
  top: 300px;
  width: 350px;
  z-index: 100;
}

#card-fixo h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 4px;
  position: static;
}

#card-fixo p {
  font-size: 18px;
  font-weight: 100;
  color: #8D8D99;
  position: static;
}

header {
  color: #E16756;
  font-size: 10px;
  font-weight: 800;
  position: absolute;
  left: 56px;    
  top: 12px; 
}

.para-amantes-da-historia {
  color: #E16756;
  font-size: 10px;
  font-weight: 800;
  position: absolute;
  left: 56px;    
  top: 586px; 
}

.descubra-3-destinos {
  color: black;
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: 60px;    
  top: 610px; 
}

#texto2 {
  position: absolute;
  left: 10px;    
  top: 600px; 
  line-height: 20px;
  padding: 50px;

}

#texto2 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
}

.estacao-da-cultura {
  font-size: 20px;
  top: 1355px;
  color: black;
  font-weight: 800;
  position: absolute;
  left: 60px;  
}

#texto3 {
  position: absolute;
  left: 10px;    
  top: 1330px; 
  line-height: 20px;
  padding: 50px;

}

#bom-para {
  position: absolute;
  font-size: 10px;
  left: 80px;
}

.historia-estacao {
  position: absolute;
  color: #E16756;
  font-size: 13px;
  left: 80px;
  font-weight: 700;
}

#texto3 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
}

.igreja-matriz {
  font-size: 20px;
  top: 1985px;
  color: black;
  font-weight: 800;
  position: absolute;
  left: 60px;    
}

#texto4 {
  position: absolute;
  left: 10px;    
  top: 1960px; 
  line-height: 20px;
  padding: 50px;

}



#bom-para1 {
  position: absolute;
  font-size: 10px;
  left: 80px;
}

.historia-igreja {
  position: absolute;
  color: #E16756;
  font-size: 13px;
  left: 80px;
  font-weight: 700;
}

#texto4 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
}

.cruzeiro {
  font-size: 20px;
  top: 2725px;
  color: black;
  font-weight: 800;
  position: absolute;
  left: 60px;    
}

#texto5 {
  position: absolute;
  left: 10px;    
  top: 2700px; 
  line-height: 20px;
  padding: 50px;
}

#bom-para2 {
  position: absolute;
  font-size: 10px;
  left: 80px;
}

.contemplação {
  position: absolute;
  color: #ffa71b;
  font-size: 13px;
  left: 80px;
  top: 190px;
  font-weight: 700;
}

.Fotografias {
  position: absolute;
  color: #3596ff;
  font-size: 13px;
  left: 80px;
  top: 210px;
  font-weight: 700;
}

.Devoção {
  position: absolute;
  color: #00af32;
  font-size: 13px;
  left: 80px;
  top: 230px;
  font-weight: 700;
}

#texto5 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #d9d9d9;
}

.divider1 {
  width: 100%;
  height: 1px;
  margin: 80px 0;
  background-color: #d9d9d9;
}

#ultimo-txt {
  position: absolute;
  left: 10px;    
  top: 2940px; 
  line-height: 20px;
  padding: 50px;
}

#ultimo-txt p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}

h2 {
  font-size: 20px;
  color: black;
  font-weight: 800;
  position: absolute;
  left: 60px;    
  top: 40px; 
}


#texto1 {
  position: absolute;
  left: 5px;    
  top: 455px; 
  line-height: 20px;
  padding: 50px;

}

#texto1 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #d9d9d9;
}

p {
  font-size: 18px;
  font-weight: 100;
  color: #8D8D99;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  text-align: center;

}

footer img {
  position: static;
  background-size: cover;
  display: block;
  width: 200%; 
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 999 
}

.heart{
  font-size: 12px;
  text-align: center;
  top: 3228px;
  color: #2f2f2f;
  text-align: center;
  padding-bottom: 48px;
  left: 750px;
  font-weight: 450;
}

.heart img{
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(18%) sepia(3%) saturate(382%) hue-rotate(187deg) brightness(92%) contrast(86%);
}

