* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 32px;
}

body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  border-radius: 20px url(/assets/rodoviaria.jpg);
  color: #FFFFFF;
} 

img.rodoviaria {
  border-radius: 20px;
  position: absolute;  
  top: 80px;      /* aumenta esse valor para descer a imagem */
}

#page{
  box-sizing: border-box;
  width: 730px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 50px auto;
  padding-bottom: 2000px; /* aumenta ou diminui margem inferior */
  position: absolute;
  left: 500px;    
  top: -10px;    
}

main {
  position: absolute; 
  top: 200px;
  left: 150px; 
  text-align: left;
}

h1
{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 4px;
}

header {
  color: #E16756;
  font-size: 10px;
  font-weight: 800;
  
  position: absolute;
  left: 24px;    
  top: 6px; 
}

h2 {
  color: black;
  font-weight: 650;
  
  position: absolute;
  left: 24px;    
  top: 32px; 
}

#conheça {
  position: absolute;
  left: 6px;    
  top: 480px; 
}

#conheça p {
  color: #000000;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 100;
  color: #8D8D99;
}

footer img {
  position: absolute;
  z-index: 0;
  background-size: cover;
  bottom: 0;
  left: 0;
  width: 200%; 
  text-align: center;
  padding: 15px 0;
}