* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 32px;
}

body {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  border-radius: 20px url(/assets/rodoviaria.jpg);
  color: #FFFFFF;
} 

img.rodoviaria {
  border-radius: 20px;
  position: absolute;  
  top: 95px;      /* aumenta esse valor para descer a imagem */
  left: 60px;
}

img.estacao {
  border-radius: 20px;
  position: absolute;  
  top: 830px;      /* aumenta esse valor para descer a imagem */
  left: 60px;
  width: 690px;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin: 50px auto;
  padding-bottom: 3500px; /* aumenta ou diminui margem inferior */
  position: absolute;
  left: 430px;    
  top: 50px;    
}

main {
  position: absolute; 
  top: 250px;
  left: 80px; 
}

h1
{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 4px;
}

header {
  color: #E16756;
  font-size: 8px;
  font-weight: 800;
  position: absolute;
  left: 56px;    
  top: 23px; 
}

.para-amantes-da-historia {
  color: #E16756;
  font-size: 10px;
  font-weight: 800;
  position: absolute;
  left: 56px;    
  top: 603px; 
}

.descubra-3-destinos {
  color: black;
  font-size: 13px;
  font-weight: 800;
  position: absolute;
  left: 60px;    
  top: 620px; 
}

#texto2 {
  position: absolute;
  left: 10px;    
  top: 600px; 
  line-height: 20px;
  padding: 50px;

}

#texto2 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
}

.estacao-da-cultura {
  font-size: 12px;
  top: 1350px;
  color: black;
  font-weight: 800;
  position: absolute;
  left: 60px;    
}

#texto3 {
  position: absolute;
  left: 10px;    
  top: 1330px; 
  line-height: 20px;
  padding: 50px;

}

#bom-para {
  position: absolute;
  font-size: 10px;
  left: 80px;
}

.historia {
  position: absolute;
  color: #E16756;
  font-size: 13px;
  left: 80px;
  font-weight: 700;
}

#texto3 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
}

h2 {
  font-size: 12px;
  color: black;
  font-weight: 800;
  position: absolute;
  left: 60px;    
  top: 40px; 
}


#texto1 {
  position: absolute;
  left: 5px;    
  top: 455px; 
  line-height: 20px;
  padding: 50px;

}

#texto1 p {
  color: #2f2f2f;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 100;
  color: #8D8D99;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

footer img {
  position: static;
  background-size: cover;
  display: block;
  width: 200%; 
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 999 
}